<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
				  Panier
				</span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
			  {% set product_shop = app.session.get('shop_produits') %}
			  {% set total  = 0 %}
			  {% for product_shop in product_shop %}
		 
                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
					 
					{% set src = product_shop['image'] %}
                        <img src="{{asset('uploads/documents' ~'/'~  src )}}" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            {{ product_shop['produitname'] }} 
                        </a>

                        <span class="header-cart-item-info">
								{{ product_shop['nb_produit'] }} x {{ product_shop['prix'] }} DT
							</span>
                    </div>
                </li>
			 
				{% set prx =  product_shop['nb_produit']   *   product_shop['prix']   %}
				 {% set total = total + prx %}
           {% endfor%}
                 
            </ul>

            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Total: {{ total }} DT
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="{{ path('show_cart_shop') }}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                         Commander
                    </a>
                    
                    <a href="{{ path('remove_session_shop') }}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Supprimer Panier
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>